<div class="content-wrapper">
    <h1 class="text-center">
        <p class="text-center" style="font-size: 2.5rem;">&#8493;</p>
        <a href="/">
            LUẬN GIẢI CHỈ SỐ HỌC Pythagoras
        </a>
    </h1>
    <p>
        Honu là tên viết tắt của 2 từ Horoscope & Numerology (Có nghĩa lá số Tử vi & Thần số học). Hãy cùng khám phá vận mệnh của bản thân thông qua <b>Công cụ tính toán Thần số học</b> của chúng tôi!
    </p>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name"><b>Tên của bạn</b></label>
            <input type="text" class="form-control" id="name" placeholder="Họ tên">
        </div>
        <div class="form-group col-md-6">
            <label for="birthday"><b>Ngày sinh</b></label>
            <input type="date" min="1800-01-01" max="2030-12-31" class="form-control" id="birthday" placeholder="Ngày tháng năm sinh">
        </div>
    </div>
    <button id="calculate-btn" type="button" class="btn btn-primary">Tính toán</button>
</div>
