<h2 class="text-center mb-4">Lời ngỏ Cuốn sách Thần số học Pythagoras</h3>


<p><strong>Bộ 3 chỉ số Numerology và mối liên kết với vận mệnh </strong></p>

<p><strong>Chỉ số Đường đời:</strong> Giá trị, ý nghĩa và bài học khi bạn xuất
    hiện trong cuộc đời này là gì.</p>
<p>Nói một cách nôm na, khi cuộc đời mỗi con
    người được miêu tả dưới hình dạng của một con đường:</p>
<p>A - bằng phẳng rộng rãi</p>
<p>B - có vài đoạn khá xóc và dốc</p>
<p>C - hẹp và nhiều sỏi đá</p>
<p>Thì sinh ra, có người được may mắn sải cánh tung hoành trên con đường A,
    có người thì chỉ được bước đi trên con đường B nhưng lại có một số người
    đành phải cam chịu chấp nhận con đường C.</p>
<p>Vận mệnh của con người cũng vậy, thượng
    đế đã sắp đặt sẵn một con đường dành riêng cho mỗi số mệnh. Trên những
    con đường ấy sẽ có những cơ hội/thách thức khác nhau, và tùy từng chướng
    ngại vật khác nhau ấy mà chúng ta sẽ thu được những bài học và thành quả
    khác nhau để đến cuối cùng có thể tận hưởng được hết vẻ đẹp của con
    đường mà mình được ban cho. Đó được gọi là BÀI HỌC ĐƯỜNG ĐỜI.</p>
<p>Để hỗ trợ cho việc di chuyển trên con
    đường đời ấy thì ta được cung cấp thêm một số trang bị (cái tên) và nó
    sẽ được thể hiện qua:</p>
<p><strong>Chỉ số Năng lực:</strong> Hay còn gọi
    là khả năng nổi trội tự nhiên sinh ra đã có. Bạn không cần quá cố gắng
    hay phải định nghĩa về nó mà năng lực này sẽ tự động được sử dụng như
    một loại bản năng trong cuộc sống thường nhật. Mỗi người sinh ra sẽ được
    trang bị cho mình những loại năng lực tự nhiên khác nhau.</p>
<p><strong>Chỉ số Linh hồn:</strong> Chính là
    khao khát ẩn sâu con người bên trong của bạn, thứ khiến cho bạn thỏa
    mãn, cảm thấy vui vẻ và hạnh phúc khi trải nghiệm. Đây chỉ là mong muốn,
    bí mật riêng nên chỉ bản thân mỗi người mới định nghĩa được nó thực sự
    là gì</p>
<p><strong>Chỉ số Nhân cách</strong>: Là thứ mà
    người khác dùng để nhận diện bạn. Hành động bạn thực hiện, lời nói bạn
    truyền đạt, phong thái bạn trình bày sẽ tạo ra con người bạn trong mắt
    người khác như thế nào. Hay nói cách khác, chỉ số này sẽ cho bạn biết,
    bạn là ai trong mắt người khác.</p>

<table style="width:100%">
    <tr>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
    </tr>
    <tr>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
        <td>H</td>
        <td>I</td>
    </tr>
    <tr>
        <td>J</td>
        <td>K</td>
        <td>L</td>
        <td>M</td>
        <td>N</td>
        <td>O</td>
        <td>P</td>
        <td>Q</td>
        <td>R</td>
    </tr>
    <tr>
        <td>S</td>
        <td>T</td>
        <td>U</td>
        <td>V</td>
        <td>W</td>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
        <td></td>
    </tr>
</table>
